body {
	font-family: Tahoma, Geneva, sans-serif;
}

pre {
	margin: 0px;
	padding: 0px;
}

div.code {
	font-family: monaco, Consolas, "Lucida Console", monospace;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
	margin: 3px;
    padding: 3px 10px;
    word-wrap: normal;
}